:root {
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  /* font: inherit; */
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background-color: #f5f5f5;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500px;
  background-color: #f5f5f5;
  padding: 40px 24px;
}
.tour-list-container {
  max-width: 1170px;
  margin: 0 auto;
}
.tour-list-card {
  width: 100%;
  display: flex;
  /* margin-left: -30px; */
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 70px;
}
.tour-review {
  display: flex;
  column-gap: 11px;
}
.tour {
  width: calc(33% - 20px);
  /* width: calc(33% - 30px); */
  /* margin-left: 30px; */
  /* margin-bottom: 30px; */
  /* width trừ 30px mỗi tour để vừa với max width*/
  height: auto;
  background-color: white;
  word-break: break-word;
  border-radius: 10px;
}
.tour-top {
  position: relative;
}
.tour-price {
  position: absolute;
  border-radius: 4px;
  top: 24px;
  left: 30px;
  padding: 5px 16px;
  background-color: rgba(53, 57, 69, 0.8);
  display: inline-block;
  font-family: "DM Sans", sans-serif;
  font-style: 12px;
  color: #fcfcfd;
}
.tour-content {
  padding: 20px 20px 14px 20px;
}
.tour-title {
  color: #23262f;
  margin-bottom: 20px;
  font-style: 18px;
  line-height: 1.556; /*28/18**/
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.tour-rating {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tour-view-count {
  color: #3b3e44;
}
.tour-duration {
  color: #353945;
}
.tour-button {
  font-size: 14px;
  font-weight: 500px;
  color: white;
  padding: 8px 16px;
  background-color: #3b71fe;
  border-radius: 8px;
  text-decoration: none;
  line-height: 17px;
  display: inline-block;
}
.tour-rating {
  display: flex;
}
.tour-image {
  border-radius: 10px 10px 0px 0px;
  height: 239px;
  width: 100%;
  object-fit: cover;
  /* cho ảnh phủ hết width*/
}
/**
@media screen and (min-width:breakpoints){}
@media screen and (min-width:320px){
  áp dụng cho những màn hình có độ rộng 320px trở lên
}
@media screen and (max-width:breakpoints-1px){}
@media screen and (max-width:breakpoints-0.2px){}
@media screen and (max-width:1024px-0.2px){
  áp dụng cho những màn hình có độ rộng 1023.98px trở xuống
}
@media screen and (max-width:breakpoints-0.2px) and (min-width:breakpoints){}
@media screen and (max-width:1024px-0.2px) and (min-width:768){}
*/
@media screen and (max-width: 767.98px) {
  .tour-list-card {
    row-gap: 20px;
  }
  .tour {
    width: 100%;
  }
  .tour-content {
    padding: 17px 17px 9px;
  }
  .tour-title {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .tour-image {
    height: 211px;
  }
  .tour-button,
  .tour-rating {
    font-size: 12px;
  }
}
@media screen and (max-width: 1023.98px) and (min-width: 768) {
  .tour {
    width: calc(50%-20px);
  }
}
.tour-list-popular {
  width: 100%;
}
.popular {
  width: 100%;
  border-radius: 14px;
}
.tour-list-popular h1 {
  margin-bottom: 30px;
}
.list-popular {
  display: grid;
  /*track-line:*/
  /* grid-template-columns: value value value n-value; */
  /* grid-template-columns: 270px 270px 270px 270px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(4, 1fr); */
  /* grid-auto-flow: column; cái này nó không cho xuống hàng auto hiểu là làm hàng dọc */
  grid-auto-flow: 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  /* 1fr=fraction unit nó tự tính toán khi có gap  dỡ bị vỡ layout*/
}
/* .list-popular {
  width: 100%;
  display: flex;
  gap: 30px;
} */
.popular-top {
  width: 100%;
  background-color: white;
  position: relative;
  border-radius: 10px 10px 0px 0px;
}
.popular-img img {
  object-fit: cover;
  border-radius: 14px;
}
.popular-button {
  background-color: white;
}
.popular-button button {
  background-color: #3b71fe;
  padding: 5px 18px;
  color: white;
  border-radius: 30px;
  width: 90px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  position: absolute;
  right: 20px;
  transform: translateY(-50%);
}
.popular-content-container {
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.popular-content {
  max-width: 173px;
  padding-left: 20px;
}
.popular-content-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.title-time {
  color: #777e90;
  font-weight: 400;
  font-size: 9px;
  margin-bottom: 8px;
}
.title-place {
  font-weight: 500;
  color: gray/2;
  font-size: 18px;
}
.popular-content-review {
  display: flex;
}
.popular-content-review img {
  margin-right: 10px;
}
.popular-content-review span {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
@media screen and (max-width: 767.98px) {
  .list-popular {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .popular {
    width: 100%;
  }
}

/** 
variable:
*/
.tour-list-gem {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 300px 150px;
  gap: 20px;
  margin-bottom: 70px;
}
.gem:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
.gem:last-child {
  grid-column: 2/4;
}
.gem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/**
css hidden gem
*/

.tour-list-hidden-gem {
  max-width: 1440px;
  max-height: 680px;
  padding: 65px 0px;
}
.hidden-gem-content {
  max-width: 1000px;
  max-height: 550px;
  text-align: center;
  margin: 0px auto;
}
